body {
    width: 100%;
}

.header {
    height: 120px;
    justify-content: center;
    background-color: rgb(244, 237, 228);
    position: sticky;
    top: 0;
}

.header_content {
    width: 100%;
    height: 50%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.header_box {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_box--logo {
    font-size: 40px;
    color: rgb(231, 125, 163);
}

.header_box--brand {
    font-size: 35px;
    font-weight: 900px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(231, 125, 163);

}

.header_search {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.search{
    width: 100%;
    height: 70%;
}
.header_user {
    width: 40%px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-shoping {
    font-size: 30px;
    color: rgb(231, 125, 163);
    cursor: pointer;

}
.header_navbar{
    height: 50%;
    background-color: rgb(244, 237, 228);

}
main{
    background-color: rgb(244, 237, 228);
    height: auto;
}
.main_content{
    max-width: 1440px;
    display: flex;
}
.main_content--sidebar{
    width: 20%;
    background-color: rgb(244, 237, 228);
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#products{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: rgb(244, 237, 228);

}
.product{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 125,163) ;
    justify-content: center;
    border:rgb(244, 237, 228) 2px solid;
}
.product i{
    cursor: pointer;
}
.product img{
    width: 150px;
}
